@import "tailwindcss";

@theme {
    --font-open: 'Open Sans', sans-serif;
}

@layer utilities {
    .shadow-solid {
        box-shadow: 4px 4px 0 3px var(--color-red-600);
    }
}

@font-face {
  font-family: 'Formula1';
  src: url('/fonts/Formula1-Regular-1.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Formula1';
  src: url('/fonts/Formula1-Bold_web.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Formula1';
  src: url('/fonts/Formula1-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Formula1';
  src: url('/fonts/Formula1-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Formula1';
  src: url('/fonts/Formula1-Wide.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  @apply bg-gray-900;
  font-family: 'Formula1', sans-serif;
}